* {
  padding: 0;
  margin: 0; }

body {
  font-family: Helvetica, Arial, sans-serif; }

#bars, #scatter {
  position: relative;
  margin-top: 1em; }
  #bars h2, #scatter h2 {
    font-size: 1em;
    line-height: 1em;
    position: absolute;
    bottom: 100%; }

.bar, .dot {
  fill: #77aadd;
  shape-rendering: crispEdges; }
  .bar.hovered, .dot.hovered {
    fill: #6699cc; }

.axis line, .axis path {
  fill: none;
  stroke: #222222; }
.axis text {
  font-size: 0.7em; }

.tooltip {
  display: none;
  text-align: center;
  background-color: black;
  padding: 0.2em 0;
  margin: 0 0 0.2em 0;
  color: white;
  position: absolute;
  font-size: 0.7em; }
