* {
  padding: 0;
  margin: 0; }

.bar {
  fill: #77aadd; }

.axis line, .axis path {
  fill: none;
  stroke: #222222; }
.axis text {
  font-size: 0.7em;
  font-family: Helvetica, Arial, sans-serif; }
