*
  padding: 0
  margin: 0

// Add basic styles for chart
.bar
  fill: #77aadd

.axis
  line, path
    fill: none
    stroke: #222
  text
    font-size: .7em
    font-family: Helvetica, Arial, sans-serif